<div class="container">
    <div class="row">
        <div class="col-3"> Toatal Views: </div>
        <div class="col-4">
            <span id="totalViewsCounter">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3"> Toatal Users: </div>
        <div class="col-4">
            <span id="totalUsersCounter">0</span>
        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/UserCount.js"></script> 
